<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Statistics</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Statistics</li>
        </ol>
        <div class="page-header">
            <h1>Work Statistics</h1>
        </div>
        <div>
            <h3>Invoice Amounts</h3>
            <img src="/statistics/invoices.svg" />
        </div>
        <div>
            <h3>Items Amount</h3>
            <img src="/statistics/items.svg" />
        </div>
    </div>
</body>
</html>